{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>DAS- Django Authentication System</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <ul class="navbar-nav">
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a href="#" onclick="reg('block')" class="nav-link">Registration</a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="login('block')" class="nav-link">Login </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <form method="POST" action="/accounts/">
                        {% csrf_token %}
                        <button type="submit" name="logout-submit" class="btn btn-primary btn-block">log out</button>
                    </form>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="jumbotron text-center">
        <h1>Welcome to Django Authentication system</h1>
    </div>
    <form action="/accounts/" method="POST" id='reg-form' class="bg-light forms">
        {% csrf_token %}
        <div class="error">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                        <p class="text-info text-center">{{message}}</p>
                        <script type="text/javascript">
                            document.getElementById('reg-form').style.display='block';
                        </script>
                       
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <label for="username">Username: </label>
        <input type="text" class="form-control" name="username" id="username" placeholder="type your user name..">

        <label for="first-name">First Name </label>
        <input type="text" class="form-control" name="first-name" id="first-name" placeholder="type your user name..">
        
        <label for="last-name">Last Name: </label>
        <input type="text" class="form-control" name="last-name" id="last-name" placeholder="type your user name..">
        
        <label for="email">Email Address: </label>
        <input type="email" class="form-control" name="email"  placeholder="type your email..">

        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password" id="password" placeholder="type your user name..">

        <label for="password">Confirm Password: </label>
        <input type="password" class="form-control" name="cont-password" id="password" placeholder="type your user name..">

        <input type="submit" class="btn btn-md btn-primary btn-block mt-3" name="reg-submit" id="submit" value="Submit">
    </form>



    <form action="/accounts/" method="POST" id='login-form' class="forms bg-light">
        {% csrf_token %}
        <div class="error">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <p class="text-danger text-center">{{message}}</p>
                        <script type="text/javascript">
                            document.getElementById('login-form').style.display='block';
                            console.log('visible')
                        </script>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <label for="username">Username: </label>
        <input type="text" class="form-control" name="username" id="username" placeholder="type your user name..">
        
        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password" id="password" placeholder="type your user name..">
        
        <input name='login-submit' type="submit" class="btn btn-md btn-primary btn-block mt-3" id="login-submit" value="login">
    </form>

    <div class='container'>
        <div class='row'>
            <div class='col-6 text-center'>
                {% if user.is_authenticated %}
                    <h2>Hi,{{user}}</h2>
                    <h4>Have a nice day!!</h4>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{% static 'custom.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>